<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        h1
        {
        text-align:center;
        }
    </style>
    <h1>About</h1>

</head>
<body style="background-color:lightblue;">
<h3>
This Indian-based travel agency understands a customer’s customizing needs and provides trustworthy affiliations with value for money. It is constantly available on the web for national and international booking. It has already booked international tour packages to some of the exotic destinations of the world giving travellers a lifetime experience of royal retreats, ski stays and adventure escapades.
</h3>
</body>
</html>